
/* 달력 상단 구역 */
#calTop{
    display: flex; /* 하위 요소들을 배치 */
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
#calTop > h6{ 
    margin: 0px 20px;
    font-size: 18px;
}
#calTop > button{
    background-color: white;
    border: none;
    font-size: 18px;
}

/* 달력 날짜 표시 구역 */
#calBottom{
    display: flex; /* 하위 요소들을 배치 */
    flex-wrap: wrap; /*하위 요소들이 자동으로 줄바꿈*/
}
#calBottom > div{
    width: 13% ; /* 가로사이즈 : 부모요소의 가로사이즈 100% 의 7등분 */
    height: 60px; /* 세로사이즈 */
    border: 1px solid gray;
    font-size: 10px;
}
#calBottom > .week{
    height: 25px;
    text-align: center;
}
#calBottom > .sunday{
    background-color: red; color: white;
}